.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.hero {
  display: flex;
  margin-top: 2vh;
  flex-direction: column;
}

.hero--photo {
  max-width: 60vw;
  align-self: center;
}

.hero--header {
  margin-bottom: 2vh;
}

.hero--text {
  margin-top: 0;
  font-size: 2vw;
  font-weight: 300;
}

nav {
  height: 10vh;
  width: 100vw;
  margin-top: 0vh;
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.heroStyling {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5vw;
}

.nav--logo {
  max-width: 9vw;
  margin-left: 2vw;
}

.card {
  width: 20vh;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  margin-top: 3vh;
}

.card--image {
  width: 100%;
  border-radius: 1vw;
}

.card--stats {
  display: flex;
  align-items: center;
  width: 12vw;
  justify-content: space-around;
}

.card--star {
  height: 1.5vw;
}

.bold {
  font-weight: bold;
}

